<a href="https://colab.research.google.com/github/mohanraju2002/sqlpython-pandas/blob/master/DATA_FRAMES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#DATA_FRAMES

#   Dataframeisapredefined class in pandas
#   WecancreateDataFramein different ways like below,
#  * Empty DataFrame
#  * Byusing single list
#  * Byusing nested list
#  * Byusing dictionary

In [8]:
# Empty DataFrame

import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
# Byusing single list

import pandas as pd
marks=[100,200,300,400]
df=pd.DataFrame(marks)
print(df)

     0
0  100
1  200
2  300
3  400

In [9]:
import pandas as pd
marks=["mohan","murari","ganesh","dimple"]
df=pd.DataFrame(marks)
print(df)

        0
0   mohan
1  murari
2  ganesh
3  dimple

In [10]:
import pandas as pd
marks=["mohan","murari","ganesh","dimple",2,3,4,5,6]
df=pd.DataFrame(marks)
print(df)

        0
0   mohan
1  murari
2  ganesh
3  dimple
4       2
5       3
6       4
7       5
8       6

In [12]:
#Byusing nested list
import pandas as pd
data=[
    [100,"mohan","1000000","TCS"],
    [200,"murari","100000","SBI"],
    [300,"dimple","100000","WIPRO"]
]
df=pd.DataFrame(data,columns=["ID","EMPLOYE","SALARY","COMPANY"])
print(df)

    ID EMPLOYE   SALARY COMPANY
0  100   mohan  1000000     TCS
1  200  murari   100000     SBI
2  300  dimple   100000   WIPRO

In [16]:
import pandas as pd
column=("NAME","ID","SALARY")
data=[
    ["mohan","murari","dimple"],
    [100,200,300],
    [20000000,120000,140000]
]
df=pd.DataFrame(data,index=column)
print(df)

               0       1       2
NAME       mohan  murari  dimple
ID           100     200     300
SALARY  20000000  120000  140000

In [17]:
# Byusing dictionary
import pandas as pd
data={ "names":["mohan","murari","ganesh","dimple"],"ID":[1,2,3,4]}
df=pd.DataFrame(data)
print(df)

    names  ID
0   mohan   1
1  murari   2
2  ganesh   3
3  dimple   4

In [19]:
import pandas as pd
data={
    "movie":["kgf","salara","hello","bahubali","og"],
    "hero":["yash","prabash","akhil","prabash","pk"],
    "boxoffice":["BB","HIT","SUPER","BB","PEAKS"]
}
df=pd.DataFrame(data)
print(df)

      movie     hero boxoffice
0       kgf     yash        BB
1    salara  prabash       HIT
2     hello    akhil     SUPER
3  bahubali  prabash        BB
4        og       pk     PEAKS

In [20]:
import pandas as pd
i=[2016,2024,2021,2015,2025]
data={
    "movie":["kgf","salara","hello","bahubali","og"],
    "hero":["yash","prabash","akhil","prabash","pk"],
    "boxoffice":["BB","HIT","SUPER","BB","PEAKS"]
}
df=pd.DataFrame(data,index=i)
print(df)

         movie     hero boxoffice
2016       kgf     yash        BB
2024    salara  prabash       HIT
2021     hello    akhil     SUPER
2015  bahubali  prabash        BB
2025        og       pk     PEAKS