<a href="https://colab.research.google.com/github/mohanraju2002/sqlpython-pandas/blob/master/pandaseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#-----------PANDAS â€“ SERIES
#-> Creating Series
#We can create Series  In different ways,
# Empty series
# By using List
# By using an array

In [ ]:
#----------  CREATE EMPTY SERIES
import pandas as pd
a=pd.Series()
print(a)
print(type(a))

Series([], dtype: object)
<class 'pandas.core.series.Series'>

In [ ]:
# Creating Series by using list
import pandas as pd
a=[2,3,4,5,6,7]
b=pd.Series(a)
print(b)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [ ]:
# creating Series object using list, assigning a name
a=[1,2,3,4,5,6]
b=pd.Series(a,name="data")
print(b)

0    1
1    2
2    3
3    4
4    5
5    6
Name: data, dtype: int64

In [ ]:
# creating Series object using list, assigning a name
import pandas as pd
a=["mohan","murari","dimple","loki"]
b=pd.Series(a,name="friends")
print(b)

0     mohan
1    murari
2    dimple
3      loki
Name: friends, dtype: object

In [ ]:
# creating Series object by using range and list.
import pandas as pd
ran=range(100)
lis=list(ran)
s = pd.Series(lis)
print(s)

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [ ]:
#  Create a Series from array
import pandas as pd
import numpy as np
values=[1,2,3,4,5]
data=np.array(values)
print(data)
print(type(data))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [ ]:
# creating ndarray and passing argument to the Series
import pandas as pd
import numpy as np
values=[1,2,3,4,5]
data=np.array(values)
s=pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Creating Series using ndarray
import pandas as pd
import numpy as np

values=[1,2,3,4,5]
data=np.array(values)

s=pd.Series(data)
print(data)
print(s)

[1 2 3 4 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Creating Series using ndarray  in strings
import pandas as pd
import numpy as np

values=["mohan","murari","ganesh","dimple"]
data=np.array(values)

s=pd.Series(data)
print(data)
print(s)

['mohan' 'murari' 'ganesh' 'dimple']
0     mohan
1    murari
2    ganesh
3    dimple
dtype: object

In [ ]:
#Creating Series
import pandas as pd
value=[1,2,3,4,5]
data=pd.Series(values)
print(data)

0     mohan
1    murari
2    ganesh
3    dimple
dtype: object

In [ ]:
#Creating Series object and giving name
import pandas as pd
values=[1,2,3,4,5,6]
data=pd.Series(values,name="numbers")
print(data)

0    1
1    2
2    3
3    4
4    5
5    6
Name: numbers, dtype: int64

In [ ]:
#Creating Series object and giving name and index

import pandas as pd
values=[1,2,3,4,5,6]
i=[100,200,300,400,500,600]
data=pd.Series(values,name="numbers",index=i)
print(data)

100    1
200    2
300    3
400    4
500    5
600    6
Name: numbers, dtype: int64

In [ ]:
#Creating Series object and giving name and index

import pandas as pd
price=[30000,40000,50000,35000,45000]
i=["appo","redmi","realme","vivo","moto"]

data=pd.Series(price,index=i,name='mobile data')
print(data)

appo      30000
redmi     40000
realme    50000
vivo      35000
moto      45000
Name: mobile data, dtype: int64

In [ ]:
#Creating Series object and giving name and index position

import pandas as pd
price=[30000,40000,50000,35000,45000]
i=["appo","redmi","realme","vivo","moto"]

data=pd.Series(price,index=i,name='mobile data')
print(data['redmi'])

40000