<a href="https://colab.research.google.com/github/mohanraju2002/sqlpython-pandas/blob/master/PANDAS_ATTRIBUTES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PANDAS SERIES-ATTRIBUTE

In [1]:
# INDEX
import pandas as pd
values=[2,3,4,6,7,8,9]
data=pd.Series(values)
print(data.index)

RangeIndex(start=0, stop=7, step=1)

In [23]:
#D-TYPE
import pandas as pd
value=[3,4,5,6,7,8]
data=pd.Series(values)
print(data.dtype)

int64

In [25]:
import pandas as pd
value=[3.4,4.5,5.6,5.9]
data=pd.Series(value)
print(data.dtype)

float64

In [26]:
import pandas as pd
value=["mohan","ganesh","murari","dimple"]
data=pd.Series(value)
print(data.dtype)

object

In [28]:
# NAME
import pandas as pd
values=[1,2,3,4,5]
data=pd.Series(values,name="values")
print(data)

0    1
1    2
2    3
3    4
4    5
Name: values, dtype: int64

In [29]:

import pandas as pd
values=["mohan","murari","ganesh","dimple"]
data=pd.Series(values,name="friends")
print(data)

0     mohan
1    murari
2    ganesh
3    dimple
Name: friends, dtype: object

In [30]:
# N-DIM
import pandas as pd
values=[1,2,3,4,5,6]
data=pd.Series(values)
print(data.ndim)

1

In [31]:
import pandas as pd
values=["mohan","gani","murari","dimple"]
data=pd.Series(values)
print(data.ndim)

1

In [34]:
#SIZE
import pandas as pd
values=[1,2,3,4,5,6,7,8,99]
data=pd.Series(values)
print(data.size)

9

In [35]:
import pandas as pd
values=["mohan","dimple","murari","dimple"]
data=pd.Series(values)
print(data.size)

4

In [36]:
#SHAPE
import pandas as pd
values=[1,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.shape)

(9,)

In [37]:
import pandas as pd
values=["mohan","ganesh","murari","dimple"]
data=pd.Series(values)
print(data.shape)

(4,)

In [38]:
#UNIQUE
import pandas as pd
values=[1,2,3,4,5,6]
data=pd.Series(values)
print(data.is_unique)

True

In [39]:
import pandas as pd
values=[1,2,3,4,5,6,1,2,3]
data=pd.Series(values)
print(data.is_unique)

False

In [42]:
# HASNANS
import numpy as np
import pandas as pd
values=[1,2,np.nan,4,5,6,np.nan,2,3]
data=pd.Series(values)
print(data.hasnans)

True

In [43]:
import numpy as np
import pandas as pd
values=[1,2,4,5,6,2,3]
data=pd.Series(values)
print(data.hasnans)

False

In [44]:
# EMPTY
import pandas as pd
values=()
data=pd.Series(values)
print(data.empty)

True

In [45]:
import pandas as pd
values=[1,2,3,4,5]
data=pd.Series(values)
print(data.empty)

False