<a href="https://colab.research.google.com/github/mohanraju2002/sqlpython-pandas/blob/master/PANDA_SERIES_METHODS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PANDAS - SERIES-METHODS

In [ ]:
# HEADS
import pandas as pd
values=[1,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.head())

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
values=[1,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.head(3))

0    1
1    2
2    3
dtype: int64

In [ ]:
# TAILS
import pandas as pd
values=[1,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.tail())

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
import pandas as pd
values=[1,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.tail(4))

5    6
6    7
7    8
8    9
dtype: int64

In [ ]:
# COUNT
import pandas as pd
values=[1,2,3,4,5,6,7]
data=pd.Series(values)
print(data.count())

7

In [ ]:
import pandas as pd
values=["mohan","murari"]
data=pd.Series(values)
print(data.count())

2

In [ ]:
# SUM

import pandas as pd
values=[1,2,3,4,5,6]
data=pd.Series(values)
print(data.sum())

21

In [ ]:
import pandas as pd
values=["mohan","dimple"]
data=pd.Series(values)
print(data.sum())

mohandimple

In [ ]:
# MAX
import pandas as pd
values=[1,2,3,4,5,6]
data=pd.Series(values)
print(data.max())

6

In [ ]:
import pandas as pd
values=["mohan","dimp"]
data=pd.Series(values)
print(data.max())

mohan

In [ ]:
# MIN
import pandas as pd
values=[1,2,3,4,5,6]
data=pd.Series(values)
print(data.min())

1

In [ ]:
import pandas as pd
values=["mohan","dimp"]
data=pd.Series(values)
print(data.min())

dimp

In [ ]:
# MEAN
import pandas as pd
values=[1,2,3,4,5,6,7,8]
data=pd.Series(values)
print(data.mean())

4.5

In [ ]:
import pandas as pd
values=[100,300]
data=pd.Series(values)
print(data.mean())

200.0

In [ ]:
# MEDIAN
import pandas as pd
values=[1,2,3,4,5,6,7]
data=pd.Series(values)
print(data.median())

4.0

In [ ]:
import pandas as pd
values=[1,2,3,4,5,6,7,8]
data=pd.Series(values)
print(data.median())

4.5

In [ ]:
# DESCRIBE
import pandas as pd
values=[1,2,3,4,5,6,7,8,9,10]
data=pd.Series(values)
print(data.describe())

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [ ]:
import pandas as pd
values=[1,2,3,4,5]
data=pd.Series(values)
print(data.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [ ]:
#  SORT_VALUES
import pandas as pd
values=[10,23,56,24,55,54,21]
data=pd.Series(values)
print(data.sort_values())

0    10
6    21
1    23
3    24
5    54
4    55
2    56
dtype: int64

In [ ]:
import pandas as pd
values=[10,23,56,24]
data=pd.Series(values)
print(data.sort_values())

0    10
1    23
3    24
2    56
dtype: int64

In [ ]:
import pandas as pd
values=["mohan","murari","dimple","pattiguda","neerasa","vinay"]
data=pd.Series(values)
print(data.sort_values())

2       dimple
0        mohan
1       murari
4      neerasa
3    pattiguda
5        vinay
dtype: object

In [ ]:
# SORT_INDEX
import pandas as pd
values=[100,200,150,250,123,234,111,333,2]
data=pd.Series(values)
print(data.sort_index())

0    100
1    200
2    150
3    250
4    123
5    234
6    111
7    333
8      2
dtype: int64

In [ ]:
import pandas as pd
values=["mohan","murari","dimple","gani"]
data=pd.Series(values)
print(data.sort_index())

0     mohan
1    murari
2    dimple
3      gani
dtype: object

In [ ]:
#UNIQUE
import pandas as pd
values=[1,2,3,4,5,6,1,2,3]
data=pd.Series(values)
print(data.unique())

[1 2 3 4 5 6]

In [ ]:
import pandas as pd
values=["mohan","dimple","murari","ganesh","ganesh"]
data=pd.Series(values)
print(data.unique())

['mohan' 'dimple' 'murari' 'ganesh']

In [ ]:
# N_unique
import pandas as pd
values=[1,2,3,4,2,3,4,2,3,4,2,3,4,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.nunique())

9

In [ ]:
import pandas as pd
values=["mohan","dimple","murari","mohan","dimple","murari"]
data=pd.Series(values)
print(data.nunique())

3

In [ ]:
# VALUE_COUNT
import pandas as pd
values=[1,2,3,4,5,6,7]
data=pd.Series(values)
print(data.value_counts())

1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: count, dtype: int64

In [ ]:
import pandas as pd
values=["mohan","murari","dimple"]
data=pd.Series(values)
print(data.value_counts())

mohan     1
murari    1
dimple    1
Name: count, dtype: int64

In [ ]:
from ast import Lambda
# APPLY
import pandas as pd
values=[1,2,3,4,5,6,7,8,9]
data=pd.Series(values)
print(data.apply(lambda x:x*3))

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
dtype: int64

In [ ]:

import pandas as pd
values=["mohan","murari","dimple","loki"]
data=pd.Series(values)
print(data.apply(lambda x:x*3))

0       mohanmohanmohan
1    murarimurarimurari
2    dimpledimpledimple
3          lokilokiloki
dtype: object